.crystal {
	width: 32px;
	height: 32px;
  animation: play .5s steps(8) infinite;
}

#collection{
	min-height:49px;
}

#player, #point {
	max-height: 49px;
}

@keyframes play {
   100% { background-position: -256px; }
}

body{
	background-color: #fff;
	margin-top: 25px;
}
